body {
  font-family: Arial, sans-serif;
  color: white;
  background-color: #131313;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.social-links {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icon {
  color: #b4b4b4;
  font-size: 20px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  mix-blend-mode: difference;
  filter: grayscale(1);
}

.social-icon:hover {
  transform: translateY(-2px);
  opacity: 0.8;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  width: 100vw;
}

::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Media query for orientation changes */
@media screen and (orientation: landscape) {
  .text-container {
    transform: scale(0.8);
  }
}

@media (max-width: 768px) {
  .social-links {
    top: 15px;
    left: 15px;
  }

  .social-icon {
    font-size: 18px;
  }

  .links {
    font-size: 12px;
  }
}
